*.iml
/local.properties
.DS_Store
/captures
.externalNativeBuild
.idea/**/tasks.xml
.idea/dictionaries
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
cmake-build-debug/;
.idea/**/mongoSettings.xml
*.iws
out/
.idea_modules/
atlassian-ide-plugin.xml
.idea/replstate.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
*.apk
bin/
gen/
.gradle/
build/
*.log
.navigation/
captures/
.idea/tasks.xml
google-services.json
freeline.py
freeline/
freeline_project_description.json
.idea/
gradle/
gradlew
gradlew.bat
settings.gradle
app/libs/
app/proguard-rules.pro
keystore/
